<%- include('../layout/head', {judul: 'Dashboard Admin'}) %>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Halo <%=user.name %></h4>
                    </div>
                    <div class="card-body">
                        Selamat datang di Website e - RPS

                    </div>
                </div>
            </section>
<%- include('../layout/foot') %>