<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-RPS | SI UNAND</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/400px-Logo_Unand.svg.png" />
  </head>
  <body>
    <style>
      body p {
        color: white;
        font-family: montserrat;
      }

      body h1 {
        color: white;
        font-family: montserrat;
      }

      body h2 {
        color: white;
        font-family: montserrat;
      }

      .login {
        width: 25%;
        height: 75%;
        background-color: 00B4D8;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .content {
        text-align: center;
        padding-top: 20px;
      }

      input {
        width: 75%;
      }
    </style>
    <div class="login">
      <div class="content">
        <h1>e-RPS</h1>
        <h2>SISTEM INFORMASI UA</h2>
        <img src="../img/unandvector.png" alt="" style="width: 150px; height: 150px" />
        <p>Username</p>
        <input type="text" />
        <p>Password</p>
        <input type="password" />
        <a href="dashboard.html"><br /><br /><button>Login</button></a>
        <p>
          Mahasiswa ? lihat rps
          <a href="../mahasiswa/carimatkul.html"
            ><b><u>disini</u></b></a
          >
        </p>
      </div>
    </div>
  </body>
</html>
