<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= judul %></title>
    <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard" />

    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/img/pweb/logo.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/img/pweb/logo.svg" />
    <link rel="manifest" href="../../assets/img/favicon/site.webmanifest" />
    <link rel="mask-icon" href="../../public/assets/img/pweb/logo.svg" color="#ffffff" />

    <link type="text/css" href="../../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link type="text/css" href="../../vendor/notyf/notyf.min.css" rel="stylesheet" />
    <link type="text/css" href="../../css/volt.css" rel="stylesheet" />
    <link href="assetsT2/vendor/simple-datatables/style.css" rel="stylesheet" />
  </head>

  <body style="background-color: #c0c0c039 ;">
    <div id="app">
      <%- include('header') %> <%- include('sidebar') %>

      <div id="main">
    

